.container {
    display: flex;
    align-items: flex-start;
    height: 100%;

    text-align: left;
}

.wrapper, .wrapperLetterSent {
    margin: auto;
    max-width: 468px;
    text-align: left;
}

.account {
    text-align: center;
    margin-top: 16px;
}
.form {
    position: relative;

    width: 440px;
    margin-top: 32px;
}

.email {
    margin-top: 16px;
}