.toolTip_container {
    display: flex;
    align-items: center;
    position: relative;
}
.contaoner_for_solution {
    position: relative;
}
.solution_text {
    display: inline-block;
    position: absolute;
    transform: translateX(10%);
    background-color: #ffffff;
    padding: 5px;
    box-shadow: -6px 6px 6px -4px rgba(34, 60, 80, 0.2);
    border-radius: 4px;
    z-index: 1;
    width: 357px;
    left: 90%;
}
.wrap_text {
    display: inline-block;
    position: absolute;
    transform: translateX(10%);
    background-color: #ffffff;
    padding: 5px;
    box-shadow: -6px 6px 6px -4px rgba(34, 60, 80, 0.2);
    border-radius: 4px;
    z-index: 1;
    width: 357px;
}
.tooltip_text {
    width: 100%;
    position: relative;
}
.tooltip_text::before {
    content: "";
    position: absolute;
    right: 101%;
    top: 4px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #ffffff;
    border-bottom: 7px solid transparent;
    border-radius: 4px;
}
