.solutionItemBlock {
     display: flex;
     justify-content: space-between;
}

.solutionItemLeftBlock {
     display: flex;
     flex-direction: column;
     gap: 24px;
     width: 100%;
}

.solutionItemBlock h4 {
     font-family: "Inter";
     font-style: normal;
     font-weight: 600;
     font-size: 30px;
     line-height: 130%;
     padding-top: 11px;
}

.solutionItemBlock p {
     font-family: "Inter";
     font-style: normal;
     font-weight: 400;
     font-size: 18px;
     line-height: 150%;
}

.solutionItemImg {
     width: 100%;
     background: #ffffff;
     box-shadow: 4px 8px 32px rgba(43, 53, 116, 0.08);
     border-radius: 20px;
     max-width: 300px;
     max-height: 265px;
}
