/* Стили для инпута заголовка для добавления платформ */

.inputAddSolution {
    margin-top: 8px;
    padding: 16px;
    border-radius: 20px;
    border: 1px solid #f4f5f6;
    background: #f4f5f6;

    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}

.inputLink {
    background-image: linear-gradient(to right, #e1e2e6 50%, #f4f5f6 50%);
    background-repeat: no-repeat;
    background-size: 30% 100%;
}

.input1 {
    width: 92px;
    padding: 16px 0 16px 16px;
    background-color: #e1e2e6;
    border: 1px solid #e1e2e6;
    outline: none;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    border-radius: 20px 0px 0px 20px;
    color: #595f6c;
}

.input2 {
    width: 548px;
    padding: 16px;
    background-color: #f4f5f6;
    border: 1px solid #f4f5f6;
    outline: none;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    border-radius: 0 20px 20px 0;
}

.blockInput {
    margin-top: 8px;
}

.countPlatforms {
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;
}

/* .blockInfoSolution {
    position: relative;
} */

.infoPlatform {
    width: 381px;
    position: absolute;
    padding: 16px;
    border-radius: 10px;
    border: 1px solid #e1e2e6;
    box-shadow: 4px 8px 32px 0px rgba(43, 53, 116, 0.08);
    top: 40px;
}

/* Стили для textarea добавления платформ */

.textareaAddSolution {
    width: 640px;
    height: 194px;
    margin-top: 8px;
    padding: 16px;
    border-radius: 20px;
    border: 1px solid #f4f5f6;
    background: #f4f5f6;

    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    resize: none;
}

/* Стили для множественногo input добавления платформ */

.addLinkPlatformBtn {
    margin-top: 16px;
    padding: 8px 20px;
    border-radius: 12px;
    border: 1px solid #4466f5;
    background: #fff;
    cursor: pointer;
}
.linksPlatform {
    margin-top: 16px;
    margin-bottom: 8px;
    width: 640px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*Стили для UploadImage*/

.hidden {
    opacity: 0;
    height: 0;
    width: 0;
    line-height: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.logoText {
    margin-top: 16px;
}

.logoImage {
    margin-top: 8px;
    cursor: pointer;
}

.image {
    margin-top: 8px;
    border-radius: 20px;
    box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}
