.tabItem {
    width: 100%;
    height: 56px;
    border: none;
    background: none;
    outline: 0 solid transparent;
    display: flex;
    gap: 12px;
    transition: 0.3s;
    cursor: pointer;
    align-items: center;
    padding: 14px 0 14px 30px;
}

.tabItem.active {
    background: #ffffff;
}

.tabItem:hover {
    outline: 1px solid #ffffff;
}

.tabItem:last-child {
    color: #4466f5;
    fill: #4466f5;
}

.tabItem:nth-child(1),
.tabItem:nth-child(2),
.tabItem:nth-child(4),
.tabItem:nth-child(6){
    margin-bottom: 8px;
}
.tabItem:nth-child(3),
.tabItem:nth-child(5){
    margin-bottom: 40px;
}
