.tabItem {
    width: 100%;
    border: none;
    background: none;
    outline: 0 solid transparent;
    display: flex;
    gap: 12px;
    transition: 0.3s;
    cursor: pointer;
    align-items: center;
    padding: 14px 0 14px 30px;
}
.tabHidden {
    display: none;
}
/* .tabItem:nth-child(3),
.tabItem:nth-child(4){
    display: none;
} */
/* .tabItem:nth-child(2):focus-within + .tabItem:nth-child(3) {
    display: flex;
} */

.tabItem.active {
    background: #ffffff;
}
.tabItem:nth-child(3), 
.tabItem:nth-child(4){
    padding: 14px 0 14px 66px;
}

.tabItem:hover {
    outline: 1px solid #ffffff;
}

.tabItem:nth-child(1),
.tabItem:nth-child(2),
.tabItem:nth-child(3),
.tabItem:nth-child(4),
.tabItem:nth-child(6){
    margin-bottom: 8px;
}
.tabItem:nth-child(7),
.tabItem:nth-child(5){
    margin-bottom: 40px;
}
