.tabItem {
     width: 100%;
     border: none;
     background: none;
     outline: 0 solid transparent;
     display: flex;
     gap: 12px;
     transition: 0.3s;
     cursor: pointer;
     align-items: center;
     padding: 15px 0 18px 30px;
}

.tabItem.active {
     background: #ffffff;
}

.tabItem:hover {
     outline: 1px solid #ffffff;
}

.tabItem:last-child {
     color: #4466f5;
     fill: #4466f5;
}

.tabItem:nth-child(2n) {
     margin-bottom: 40px;
}