.container {
    display: flex;
    height: 100%;

    text-align: center;
}

.backGround {
    width: 27%;
    min-height: 1024px;
    background: linear-gradient(rgba(80, 112, 245, 0.7), rgba(156, 229, 98, 1));
}

.wrapper {
    position: relative;
    padding: 159px 304px;
}

.infoBlock {
    position: absolute;
    left: 50%;
    transform: translate(-50%);

    width: 800px;
    margin-top: 56px;
    padding: 20px 20px 20px 32px;
    gap: 20px;

    border-radius: 30px;
    box-shadow: 0px 0px 22px 0px rgba(201, 201, 201, 0.25);
    text-align: left;
}

.closeBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.textInfo {
    margin-top: 12px;
}
.img {
    cursor: pointer;
}