.list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 8px;
}

.option {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 6px 12px;
    border-radius: 20px;
    border: 1px solid #909090;
    background-color: #f4f5f6;
}

.img {
    cursor: pointer;
}

.btn {
    padding: 8px 20px;
    border-radius: 12px;
    border: 1px solid #f53527;
    background-color: #fff;
    cursor: pointer;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    color: #f53527;
}
