/node_modules
/.github
/.next
/.vscode
/mocks
/out
/public
/server
.env.development
.eslintrc.json
.gitignore
.prettierrc
deployment.yaml
Dockerfile
index.d.ts
next-env.d.ts
next.config.js
package-lock.json
package.json
README.md
tsconfig.json
tsconfig.tsbuildinfo
.svg
.png
.img