.templateSelectionsWrapper {
     padding: 48px 0;
     width: 100%;
     display: flex;
     border-bottom: 1px solid #e1e2e6;
}

.templateSelectionsBlock {
     width: 100%;
     padding: 30px 0 20px 48px;
     background-color: #ffe2f9;
     box-shadow: 16px 4px 32px rgba(43, 53, 116, 0.04);
     border-radius: 20px;
     display: flex;
     gap: 58px;
     align-items: center;
}

.templateMailImage {
     margin-bottom: 10px;
}

.textBlock p:first-child {
     max-width: 543px;
     font-family: "Inter";
     font-style: normal;
     font-weight: 400;
     font-size: 24px;
     line-height: 28px;
     color: #17181a;
     padding-bottom: 26px;
}

.textBlock p:last-child {
     font-family: "Inter";
     font-style: normal;
     font-weight: 400;
     font-size: 14px;
     line-height: 140%;
     color: #595f6c;
     padding-top: 8px;
}

.textBlock a {
     display: flex;
     text-decoration: none;
     font-family: "Inter";
     font-style: normal;
     font-weight: 500;
     font-size: 20px;
     line-height: 28px;
     color: #4466f5;
     align-items: center;
     gap: 21px;
}
