.lineTop {
     position: relative;
     padding-top: 60px;
}

.lineTop::before {
     position: absolute;
     content: "";
     top: 0;
     width: 100%;
     border: 1px solid #989898;
}

.wraperPage {
     max-width: 1440px;
     margin: 0 auto;
     margin: 0 88px;
}

.wrapperTitle {
     position: relative;
     padding-bottom: 32px;
}

.wrapperTitle::after {
     position: absolute;
     content: "";
     bottom: 0;
     width: 100%;
     border: 1px solid #e1e2e6;
     background-color: #e1e2e6;
}

.container {
     display: flex;
     justify-content: space-between;
}

.groupSearch {
     position: relative;
}

.search {
     position: absolute;
     content: "";
     left: 0;
     top: 8px;
}
