.tabItem {
    padding: 10px;
    cursor: pointer;
}

.adminPage {
    padding: 8px 24px;
}
.adminPage p {
    color: #595f6c;
}

.active {
    border-bottom: 2px solid #4466f5;
}
.active p {
    color: #4466f5;
}
