.selectTitle {
     font-family: "Inter", sans-serif;
     font-style: normal;
     font-weight: 400;
     font-size: 18px;
     line-height: 150%;
     background: #f4f5f6;
     border-radius: 20px;
     padding: 10px;
     gap: 10px;
}
