.credentialsWrapper {
     display: flex;
     padding: 48px 0;
     gap: 60px;
     border-bottom: 1px solid #e1e2e6;
     align-items: center;
}

.credentialsRightBlock {
     display: flex;
     flex-direction: column;
     gap: 8px;
}

.emailBlock {
     display: flex;
     gap: 37px;
}
.credentialsInfo {
     font-family: "Inter";
     font-style: normal;
     font-weight: 400;
     font-size: 18px;
     line-height: 27px;
}
