.credentialsWrapper {
    display: flex;
    padding: 48px 0;
    gap: 60px;
    align-items: center;
}

.credentialsRightBlock {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.emailBlock {
    display: flex;
    gap: 37px;
}
.credentialsInfo {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

.blockName {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    gap: 8px;
}
.firstName {
    text-wrap: nowrap;
}
.lastName {
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
