.links {
    display: flex;
    align-items: center;
}

.link {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #909090;
}

.title {
    margin-top: 32px;
}
.subTitle {
    margin-bottom: 32px;
}
.subHead {
    margin: 32px 0 24px 0;
}
.size640 {
    width: 640px;
}
.size203 {
    width: 203px;
}

.titleSolution {
    margin-top: 32px;
    width: 640px;
}

.textAreaSolution {
    margin-top: 16px;
    width: 640px;
}
.subTitle {
    margin-top: 56px;
}

.linksSolution {
    margin-top: 32px;
    margin-bottom: 8px;
}

.linkSolution {
    margin-top: 32px;
    width: 640px;
}
.addLinkSolutionBtn {
    margin-top: 16px;
    padding: 8px 20px;
    border-radius: 12px;
    border: 1px solid #4466f5;
    background: #fff;
    cursor: pointer;
}
.countPlatforms {
    margin-top: 16px;
    width: 640px;
}
.groupBtn {
    width: 640px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    margin-top: 32px;
}
.btnClose {
    width: 212px;
    padding: 10px 58px;
    background:  #FFF;
    border: 1px solid #FFF;
    cursor: pointer;
}
.btnClose:hover p {
    color: var(--status-color-error-color);
}

.btnSave {
    padding: 10px 58px;
    border-radius: 16px;
    background: #4466F5;
    border: 1px solid #4466F5;
    cursor: pointer;
}
.btnSave:hover {
    opacity: 0.8;
}

.errorBlock {
    display: flex;
    gap: 8px;
    color: var(--status-color-error-color);
    padding-left: 8px;
    padding-top: 8px;
    overflow: hidden;
    white-space: nowrap;
}

.errorBlockHide {
    display: none;
    
}

.errorMessage {
    width: 640px;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    color: var(--status-color-error-color);
    margin-top: 8px;
    overflow: hidden;
    white-space: nowrap;
}

.listFilters {
    list-style: none;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    position: relative;
    width: 560px;
    padding: 32px;
    border-radius: 30px;
    background: #fff;
    text-align: center;
}

.imgCloseModal {
    position: absolute;
    top: 32px;
    right: 32px;
}

.titleModalClose {
    margin-top: 32px;
}
.subTitleModalClose {
    margin-top: 16px;
}
.groupBtnModalClose {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 32px;
}
.btnCloseModal {
    padding: 10px 30px;
    border-radius: 16px;
    background: #fff;
    border: 1px solid #fff;
}
.btnSaveModal {
    padding: 10px 72px;
    border-radius: 16px;
    background: #4466f5;
    border: 1px solid #4466f5;
}
