.container {
    display: flex;
    height: 100%;
    text-align: center;
}

.backGround {
    width: 27%;
    min-height: 100vh;
    background: linear-gradient(rgba(80, 112, 245, 0.7), rgba(156, 229, 98, 1));
}

.wrapper {
    margin: auto;
}

.account {
    margin-top: 16px;
}

.link {
    color: #4466f5;
}

.text {
    margin-top: 32px;
}

.form {
    width: 440px;
    text-align: left;
}

.blockInput {
    position: relative;
    margin-top: 24px;
}

.errorIcon {
    position: absolute;
    top: 0;
    right: 0;
}

.input {
    padding: 16px;
    margin-top: 8px;
    width: 100%;

    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

    border-radius: 20px;
    background-color: #f4f5f6;
    border: 1px solid #f4f5f6;
    color: #595f6c;
}
.input:focus {
    outline: none;
}

.inputError {
    padding: 16px;
    margin-top: 8px;
    width: 100%;

    font-family: "Inter", sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

    border-radius: 20px;
    background-color: #f4f5f6;
    border: 2px solid #f53527;
    color: #595f6c;
}
.inputError:focus {
    outline: none;
}

.error {
    margin-top: 8px;
}

.groupStateEye {
    position: relative;
}

.stateEye {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-60%, -30%);
    cursor: pointer;
}

.blockInfo {
   margin-top: 24px;
   text-align: center;
}