.footerWrapper {
     background: #000000;
}

.footerBox {
     max-width: 1440px;
     display: flex;
     justify-content: space-between;
     padding: 90px 148px 143px 88px;
     margin: auto;
}

.logoSvg {
     fill: #ffffff;
     transition: 0.3s;
}

.logoSvg:hover {
     fill: powderblue;
}
