.container {
    position: absolute;
    width: 100%;
    display:flex;
    flex-direction: row;
    gap: 16px;
    background-color: var(--back-color);
    z-index: 99;
}

.inputGroupHide {
    display: none;
}
.inputGroupEdit {
    display: flex;
    width: 100%;
    padding: 8px;
    border: none;
    border-bottom: 2px solid var(--accent-color);
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    caret-color: var(--accent-color)
}

.inputGroup::placeholder { /* Most modern browsers support this now. */
   color:    var(--sub-color);
}

.inputGroupEdit:focus {
    outline: none;
}

.buttonsContainer {
    display: flex;
    gap: 16px;
}
