.wrapper {
    padding: 80px 0 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}
.blockText h3 {
    padding-bottom: 24px;
}
.blockScroll {
    height: 648px;
    max-width: 770px;
    overflow-y: hidden;
    cursor: pointer;
    padding: 5px 10px 5px 10px;
}
.blockScroll:hover {
    overflow-y: scroll;
}
.text {
    margin-bottom: 48px;
    max-width: 645px;
}
/*  */
.blockAccordion {
    max-height: 648px;
    margin-right: 10px;
}

.blockScroll::-webkit-scrollbar {
    width: 8px;
}
.blockScroll::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
}
.blockScroll::-webkit-scrollbar-thumb {
    background-color: #d0ddf0;
    border-right: none;
    border-left: none;
    border-radius: 15px;
    width: 8px;
}
/* .blockScroll::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 170px;
} */

/* .blockAccordion::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 70px;
} */
