.iconsSignIn {
     display: flex;
     align-items: center;
     width: 100%;
     justify-content: center;
     padding-top: 35px;
     gap: 57px;
}
.socialsButton {
     background: transparent;
     border: none;
     cursor: pointer;
}
