.container {
    display: flex;
    padding: 16px 8px;
    border-bottom: 1px solid #e1e2e6;
}

.solutionTitle {
    width: 291px;
}

.solutionStatus {
    width: 273px;
}

.solutionKeyWords {
    width: 328px;
}

.workSolution {
    position: relative;
    cursor: pointer;
}

.listFunctions {
    position: absolute;
    width: 196px;
    right: 0;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 1px 25px 0px rgba(0, 0, 0, 0.14);
    cursor: pointer;
    z-index: 100;
}

.function {
    padding: 16px;
}

.function:first-child {
    border-bottom: 1px solid #e1e2e6;
}
.function:nth-child(2) {
    border-bottom: 1px solid #e1e2e6;
}
.function:nth-child(3) {
    border-bottom: 1px solid #e1e2e6;
}
.function:active {
    background-color: #e2ecff;
}
.function:first-child:active {
    border-radius: 10px 10px 0 0;
}
.function:nth-child(4) {
    border-radius: 0 0 10px 10px;
}

.titleText:hover {
    color: #4466f5;
}

.titleText:active {
    color: #17181a;
}

.titleTextDelete {
    color: #f53527;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(41, 39, 39, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    position: relative;
    width: 560px;
    padding: 32px;
    border-radius: 30px;
    background: #fff;
    text-align: center;
}

.imgCloseModal {
    position: absolute;
    top: 32px;
    right: 32px;
    cursor: pointer;
}

.titleModalClose {
    margin-top: 32px;
}
.subTitleModalClose {
    margin-top: 16px;
}
.groupBtnModalClose {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 32px;
}
.btnCloseModal {
    padding: 10px 85px;
    border-radius: 16px;
    background: #fff;
    border: 1px solid #fff;
}
.btnSaveModal {
    padding: 10px 82px;
    border-radius: 16px;
    background: #f53527;
    border: 1px solid #f53527;
}

.btnDeleteForPublic {
    padding: 10px 29px;
    border-radius: 16px;
    background: #f53527;
    border: 1px solid #f53527;
}
