.userInfoWrapper {
    max-width: 500px;
    padding: 10px 20px;
    background: #ffffff;
    box-shadow: 4px 8px 32px rgba(43, 53, 116, 0.08);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    cursor: pointer;
    position: relative;
}
.headerArrowButton {
    color: black;
}
.headerArrowButtonOpen {
    transform: rotate(180deg);
}
.avatarCircle {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #e2ecff;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.blockName {
    display: flex;
    gap: 6px;
}
