.templateSelectionsWrapper {
    width: 100%;
    display: flex;
}
.templateSelectionsBlock {
    width: 100%;
    padding: 40px 32px;
    background-color: #ffe2f9;
    box-shadow: 16px 4px 32px rgba(43, 53, 116, 0.04);
    border-radius: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
}
.textBlock p {
    max-width: 560px;
    padding-top: 12px;
}

.textBlock a {
    display: flex;
    gap: 12px;
    padding-top: 9px;
}
.arrow {
    margin-top: 11px;
}
