.ordersListWrapper {
    display: flex;
    flex-direction: column;
}

.listHeader {
    display: flex;
    gap: 30px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #E1E2E6;
}

.orderNumber {
    width: 60px;
}

.orderNumber>p {
    width: 100%;
}


.orderName {
    width: 169px;
}

.orderEmail {
    width: 169px;
}

.orderPhone {
    width: 150px;
}

.orderPhone>p {
    width: 100%;
}

.orderComment {
    width: 250px;
}

.listOrders li {
    list-style-type: none;
}

.loaderOrders {
    align-self: center;
    margin-top: 60px;
}