.card {
    width: 440px;
    padding: 28px 28px 53px 28px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 20px;
    box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.05);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.top,
.mid {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.likeButton {
    display: flex;
    align-items: center;
    color: #909090;
}

.likeButton:hover {
    color: #4466F5;
}
.likeButtonActive > *{
    display: flex;
    align-items: center;
    color: #4466F5;
    fill: #4466F5;
}

.features {
    display: flex;
    gap: 16px;
}

.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    padding: 10px;
    background: #f4f5f6;
    border-radius: 20px;
}


.iconBlock {
    display: flex;
    gap: 24px;
    align-items: center;
}

.icon {
    display: flex;
}