.authRightBlock {
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 0 auto;
}
.formCenter {
     display: flex;
     justify-content: center;
}
.authContentBlock {
     display: flex;
     flex-direction: column;
     max-width: 480px;
}
.questionRoute {
     padding: 16px 0 34px;
     text-align: center;
}
.questionSignIn {
     padding: 18px 0 34px;
     text-align: center;
}
.centerText {
     text-align: center;
}
.signIn {
     padding-bottom: 24px;
}
.addEmail {
     padding: 12px 0 35px 20px;
}
.updateName {
     padding: 25px 0 34px 20px;
}
.agreement {
     padding: 16px 20px;
     text-align: center;
}

.authContentBlock a {
     color: #4466f5;
}