.blockInput {
    position: relative;
    margin-top: 16px;
}
.blockInputError {
    position: relative;
    margin-top: 14px;
}

.errorIcon {
    position: absolute;
    top: 0;
    right: 0;
}

.input {
    padding: 17px;
    margin-top: 9px;
    width: 100%;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    border-radius: 20px;
    background-color: var(--sub-color-2);
    border: 1px solid var(--sub-color-2);
    color: var(--text-color-1);
}
.input:focus,
.inputValid:focus {
    outline: none;
}

.input[name="comment"],
.inputValid[name="comment"] {
    height: 194px;
    word-wrap: break-word;
    white-space: pre-wrap;
    resize: none;
    overflow: hidden;
    vertical-align: top;
}

.error {
    margin-top: 8px;
}
.error p {
    margin-bottom: 4px;
}

.inputError {
    padding: 18px 15px 19px;
    margin-top: 6px;
    width: 100%;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    border-radius: 20px;
    background-color: var(--sub-color-2);
    border: 2px solid var(--status-color-error-color);
    color: var(--text-color-2);
}
.inputError:focus {
    outline: none;
}

.inputError[name="comment"] {
    height: 194px;
}

.inputValid {
    padding: 17px;
    margin-top: 9px;
    width: 100%;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    border-radius: 20px;
    background-color: var(--sub-color-2);
    color: var(--text-color-1);
    border: 1px solid var(--accent-color-2);
}

.groupStateEye {
    position: relative;
}

.stateEye {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-60%, -30%);
    cursor: pointer;
}

.notifications {
    margin: 14px 0 9px;
    display: flex;
    align-items: center;
}

.checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 2px solid var(--accent-color-2);
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}
.checkbox:checked {
    background-color: var(--accent-color-2);
}
.checkbox::before {
    content: "✓";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 20px;
    text-align: center;
    line-height: 1;
    color: #fff;
}
.checkbox:checked::before {
    border-radius: 6px;
    background-color: var(--accent-color-2);
}

.container {
    display: flex;
    height: 100%;
    text-align: center;
}

.wrapper {
    margin: auto;
}

.account {
    margin-top: 16px;
}

.link {
    color: #4466f5;
}

.form {
    width: 440px;

    text-align: left;
}

.blockInfo {
    margin-top: 16px;
    text-align: center;
}

.errorsBlock {
    margin-top: 16px;
}
