.listHeader {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 27px;
    height: 56px;
    border-bottom: 1px solid #e1e2e6;
}
.userName {
    min-width: 200px;
    text-transform: capitalize;
    overflow-wrap: anywhere;
}
.userEmail {
    min-width: 300px;
}
.userRole {
    min-width: 200px;
}
.userStatus {
    min-width: 170px;
}
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.users {
    position: relative;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #595f6c;
    margin-top: 16px;
}
.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 27px;
    height: 56px;
}
.edit {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.edit img {
    cursor: pointer;
    width: 100%;
}

.switch {
    height: 24px;
    min-width: 170px;
}

.switch input {
    width: 0;
    height: 0;
}
.switch label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    height: 100%;
}

.slider {
    position: relative;
    cursor: pointer;
    width: 36px;
    height: 20px;
    background-color: #e1e2e6;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #4466f5;
}

input:focus + .slider {
    box-shadow: 0 0 1px #4466f5;
}

input:checked + .slider:before {
    transform: translateX(16px);
}

.noUsers {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}
.noUsers p:last-child {
    margin-top: 16px;
}
.locked,
.locked p {
    color: #909090;
}
.locked svg path {
    fill: #909090;
}
