.usersBlock {
    display: flex;
    flex-direction: column;
}
.listHeader {
    width: 100%;
    display: flex;

    gap: 27px;
    padding: 10px 0;
}
.userName {
    min-width: 150px;
}
.userEmail {
    width: 300px;
    text-align: left;
}
.userRole {
    width: 155px;
}
.userStatus {
    width: 170px;
    display: flex;
    gap: 5px;
    align-items: center;
}
.users {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.user {
    display: flex;
    flex-direction: row;
    gap: 27px;
}
.edit a {
    cursor: pointer;
}
