.changeRoleWrapper {
    cursor: pointer;
    width: 200px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    background: #f4f5f6;
    padding: 16px;
    border-radius: 20px;
}
.blockName {
    width: 136px;
    height: 24px;
}
.headerArrowButton {
    width: 24px;
    text-align: center;
    color: var(--text-color-2);
}
.headerArrowButtonOpen {
    width: 24px;
    text-align: center;
    transform: rotate(180deg);
}
.menuWrapper {
    position: absolute;
    top: 64px;
    left: 0;
    display: flex;
    flex-direction: column;
    z-index: 9;
    border-radius: 20px;
}
.menuWrapper:nth-last-child() {
    border-radius: 20px;
    background: green;
}
.navigateButton {
    width: 200px;
    height: 56px;
    padding: 16px;
    border: 0;
    background-color: white;
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    border-radius: 20px;
}
.navigateButton:first-child(1) {
    border-radius: 20px;
}
.navigateButton:nth-last-child() {
    border-radius: 20px;
    background: green;
}

.navigateButton:hover {
    color: #4466f5;
}

.alert {
    width: 570px;
    height: 64px;
    position: fixed;
    top: 64px;
    right: 64px;
    border-radius: 30px;
    padding: 20px 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: white;
    transition: 0.5s;
    opacity: 1;
}
.alert p {
    width: 440px;
}
.invisible {
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}
.closeBtn {
    cursor: pointer;
}
