.links {
    display: flex;
    align-items: center;
    margin-top: -23px;
}
.link {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #909090;
}
.work {
    margin-top: 32px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.addBtn {
    padding: 8px 20px;
    border-radius: 12px;
    background: #4466f5;
    border: 1px solid #4466f5;
    cursor: pointer;
}

.groupSearch {
    position: relative;
    margin-top: 30px;
}

.search {
    position: absolute;
    content: "";
    left: 0;
    top: 8px;
}
.addImg {
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.listHeader {
    width: 80%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 10px 0;
}
.userName {
    min-width: 100px;
}
.userEmail {
    min-width: 170px;
    text-align: center;
}
