.wrapper {
    max-width: 1440px;
    padding-left: 88px;
    padding-top: 88px;
    padding-bottom: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 83px;
}

.blockText {
    width: 533px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: -20px;
}
.buttons {
    display: flex;
    align-items: center;
    gap: 24px;
}