.credentialsWrapper {
     display: flex;
     padding: 48px 0;
     gap: 60px;
     border-bottom: 1px solid #e1e2e6;
}

.credentialsRightBlock {
     display: flex;
     flex-direction: column;
     gap: 8px;
}

.credentialsRightBlock h4 {
     font-family: "Inter";
     font-style: normal;
     font-weight: 600;
     font-size: 30px;
     line-height: 130%;
     color: #111111;
}

.credentialsInfo {
     font-family: "Inter";
     font-style: normal;
     font-weight: 400;
     font-size: 18px;
     line-height: 150%;
     color: #000000;
}

.emailBlock {
     display: flex;
     gap: 37px;
}
