.wrapper {
    padding: 42px 0 80px 0;
    display: flex;
    justify-content: space-between;
    gap: 132px;
}

.blockLabel {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.blockText {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.blockText p {
    max-width: 600px;
}
.tagsWrapper {
    display: flex;
    gap: 8px;
    padding: 8px 16px;
    border: 1px solid #909090;
    border-radius: 20px;
    background: #f4f5f6;
    justify-content: center;
}
