.wrapper {
    max-width: 1440px;
    display: flex;
    align-items: center;
    padding: 74px 88px 80px;
    margin: 0 auto;
    gap: 91px;
}

.blockText {
    max-width: 533px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.blockText h5 {
    padding-top: 6px;
}

.statistics {
    position: relative;
    display: flex;
    gap: 51px;
    padding: 28px 0 0 12px;
}
.circleYellow,
.circleBlue,
.circleBrown {
    position: absolute;
}
.circleYellow::before,
.circleBlue::before,
.circleBrown::before {
    content: "";
    position: absolute;
    top: -4px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: -1;
}
.circleYellow::before {
    left: -13px;
    background-color: #fff6c8;
}

.circleBlue::before {
    left: -10px;
    background-color: #95b9ec;
}
.circleBrown::before {
    right: -32px;
    background-color: #c1b2a3;
}
