.cardBlock {
    background: #FFFFFF;
    box-shadow: 0px 2px 40px -20px rgba(68, 56, 235, 0.5);
    border-radius: 20px;
    padding: 22px 56px 22px 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    cursor: pointer;
    width: 33%;
    max-width: 304px;
    position: relative;
}

.itemTitle{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    color: #000000;
    width: 100%;
}

.itemDescription{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #000000;
}

.mark {
    position: absolute;
    top: -7px;
    right: 0;
}