.rightBlock {
     display: flex;
     justify-content: right;
}

.rightBlock .buttonsAuthWrapper {
     display: flex;
     gap: 16px;
}
.selectLang{
     display: flex;
     align-items: center;
}

.selectLanguage{
     background: #EEF4FD;
     border: none;
     font-size: 18px;
     font-weight: 500;
     line-height: 28px;
     display: inline-flex;
     align-items: center;
     gap: 4px;
     flex-shrink: 0;
}