.sliderCard {
    width: 440px;
    padding: 28px 28px 28px 28px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 20px;
    box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.05);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.sliderCard:hover {
    box-shadow: 8px 8px 12px 12px rgba(0, 0, 0, 0.05);
}
.solution {
    width: 616px;
    padding: 28px 28px 28px 28px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 20px;
    box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.05);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.solution:hover {
    box-shadow: 8px 8px 12px 12px rgba(0, 0, 0, 0.05);
}

.top,
.mid {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.likeButton {
    display: flex;
    align-items: center;
    color: #909090;
}

.likeButton:hover {
    color: #4466f5;
}
.likeButtonActive > * {
    display: flex;
    align-items: center;
    color: #4466f5;
    fill: #4466f5;
}

.features {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    list-style: none;
}

.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;

    padding: 4px 16px;
    border-radius: 20px;
    background-color: #f4f5f6;
}

.iconBlock {
    display: flex;
    gap: 24px;
    align-items: center;
}

.icon {
    display: flex;
}
.logo {
    width: 100px;
    height: 100px;
    overflow: hidden;
}
.img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}
