.selectionWrapper{
    background: #EEF4FD;
    padding: 80px 88px;
}

.selectionBot{
    padding-top: 82px;
    display: flex;
    max-width: 1264px;
    justify-content: space-between;
    margin: 0 auto;
    gap: 107px;

}
.solutions {
    max-width: 640px;


}

.titleSelectionOff{
    opacity: 0;
}
.titleSelection{
    color:  #17181A;
    font-size: 56px;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: -0.56px;
}

.subTitleSelection{
    color:  #595F6C;
    margin-top: 64px;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    display: flex;
    align-self: stretch;
}

.btnSelection{
    margin-top: 64px;
    color:  #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    display: flex;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    background:  #4466F5;
    border:none;

}

.girlOnTheBed{
    position: relative;
}

.questionSelectionOne {
    color: #17181A;
    font-size: 14px;
    line-height: 140%;
    border-radius: 16px 16px 16px 0;
    background: rgba(255, 150, 232, 0.60);
    backdrop-filter: blur(7.455999851226807px);
    padding: 16px;
    position: absolute;
    max-width: 197px;
    top: 80px;
    left: -16px;

}

.questionSelectionTwo {
    color: #17181A;
    font-size: 14px;
    line-height: 140%;
    border-radius: 16px 16px 16px 0;
    background: rgba(255, 150, 232, 0.60);
    backdrop-filter: blur(7.455999851226807px);
    padding: 16px;
    position: absolute;
    max-width: 197px;
    top: 168px;
    left: -16px;
}
.answerSelection{
    color: #17181A;
    padding: 16px;
    font-size: 14px;
    line-height: 140%;
    border-radius: 16px 16px 0px 16px;
    background: rgba(174, 247, 252, 0.60);
    backdrop-filter: blur(7.455999851226807px);
    position: absolute;
    max-width: 248px;
    top: 492px;
    right: 24px;
}

.selectionFrame{
    display: flex;
    align-items: center;
}

.selectionDesigner{
    color:  #4466F5;
    display: block;
    font-size: 30px;
    font-weight: 600;
    line-height: 130%;
    border: 2px solid  #4466F5;
    padding: 8px 4px;
    position: relative;
}

.selectionDesigner:before {
    content: '';
    position: absolute;
    background-color: #4466F5;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    transform: translate(-50%, -50%);
    top: 0;
    left: 0;
    border: 2px solid  #4466F5;
}
.selectionDesigner:after {
    content: '';
    position: absolute;
    background-color: #4466F5;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    transform: translate(50%, -50%);
    top: 0;
    right: 0;
    border: 2px solid  #4466F5;
}
.selectionDesignerDots {
    position: relative;
margin-left: 30px;
}
.selectionDesignerDots:before {
    content: '';
    position: absolute;
    background-color: #4466F5;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    transform: translate(-33%, 33%);
    bottom: 0;
    left: 0;
    border: 2px solid  #4466F5;
}

.selectionDesignerDots:after {
    content: '';
    position: absolute;
    background-color: #4466F5;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    transform: translate(33%, 33%);
    bottom: 0;
    right: 0;
    border: 2px solid  #4466F5;
}
