.formMyAccount {
    max-width: 440px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 48px;
}

.personalDataBlock {
    display: flex;
    gap: 32px;
    padding-top: 48px;
    flex-direction: column;
    max-width: 440px;
}

.changePasswordBlock {
    display: flex;
    gap: 32px;
    padding-top: 40px;
    flex-direction: column;
    max-width: 440px;
}

.loaderOrders {
    display: flex;
    align-self: center;
    margin-top: 100px;
    user-select: none;
}

/* MODAL */
.backdrop {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(53, 53, 53, 0.66);
    backdrop-filter: blur(5px);
    z-index: 500;
    overflow: scroll;
}

.modal {
    max-width: 1200px;
    background-color: white;
    position: relative;
    margin: auto;
    border-radius: 30px;
}

.modalContent {
    position: relative;
    width: 560px;
    padding: 32px;
    padding-bottom: 40px;
    border-radius: 30px;
    background: #FFF;
    text-align: center;
}

.imgCloseModal {
    position: absolute;
    top: 24px;
    right: 24px;
}

.textSuccess {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 32px;
}

.titleModalClose {
    margin-top: 32px;
}
.subTitleModalClose {
    margin-top: 16px;
}
