.footerLeftContainer {
    width: 394px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footerLogoBlock {
    display: flex;
    height: 36px;
    gap: 42px;
    align-items: center;
    margin-bottom: 40px;
}

.footerLogoBlock>svg {
    cursor: pointer;
}

.footerCopyright {
    display: flex;
    gap: 10px;
    align-items: center;
    /* margin-top: 40px; */
}

.footerInfo {
    cursor: pointer;
}
