.h1 {
     font-family: "Inter", sans-serif;
     font-style: normal;
     font-weight: 600;
     font-size: 56px;
     line-height: 62px;
     letter-spacing: -0.01em;
}
.h2 {
     font-family: "Inter", sans-serif;
     font-style: normal;
     font-weight: 600;
     font-size: 48px;
     line-height: 82px;
}
.h3 {
     font-family: "Inter", sans-serif;
     font-style: normal;
     font-weight: 600;
     font-size: 40px;
     line-height: 82px;
}
.h4 {
     font-family: "Inter", sans-serif;
     font-style: normal;
     font-weight: 600;
     font-size: 30px;
     line-height: 39px;
}
.h5 {
     font-family: "Inter", sans-serif;
     font-style: normal;
     font-weight: 500;
     font-size: 24px;
     line-height: 28px;
}
.p {
     font-family: "Inter", sans-serif;
     font-style: normal;
}

.black {
     color: #17181a;
}
.grey {
     color: #595f6c;
}
.telegray {
     color: #909090;
}
.red {
     color: #f53527;
}
.green {
     color: #4f8325;
}