.wrapper {
    max-width: 838px;
    display: flex;
    flex-direction: column;
}

.window {
    max-width: 736px;
    overflow: hidden;
    padding-top: 5px;
}

.itemsContainer {
    display: flex;
    align-items: flex-end;
    transition: translate;
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    padding-bottom: 8px;
    padding-left: 8px;

}

.arrows {
    display: flex;
    gap: 8px;
    margin-top: 10px;
}

.arrow {
    cursor: pointer;
}

.arrow:hover svg {
    scale: 1.1;
}

.arrowDisabled {
    opacity: 0.5;
}