.asideWrapper {
     max-width: 292px;
     width: 100%;
     background: #e2ecff;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     padding-top: 46px;
     gap: 48px;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
