.wrapper {
    padding: 64px 0;
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.blockVideo {
    position: relative;
    max-height: 503px;
}

.videoComment {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 20px;
  background: rgba(65, 70, 73, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;

  transition: opacity .2s, visibility .2s;
}

.blockVideo:hover .videoComment {
  visibility: visible;
  opacity: 1;
}

