.card {
    max-width: 312px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.card:first-child, .card:last-child {
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.10);
    padding: 48px 32px;
}