.wrapper {
    border-bottom: 2px solid #909090;
}
.wrapper.active {
    border: none;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    padding: 35px 0 10px;
}
.header.open {
    color: #4466F5;
    transition: 0.5s;
}

 .content {
     font-family: 'Inter', sans-serif;
     font-style: normal;
     font-weight: 300;
     font-size: 18px;
     line-height: 22px;
     color: #000000;
     max-height: 0;
     overflow: hidden;
 }

.content.show {
    height: auto;
    max-height: 99999px;
}