.logo {
     font-family: "Inter", sans-serif;
     font-style: normal;
     font-weight: 500;
     font-size: 40px;
     line-height: 48px;
}

.logoHeader {
     color: #17181a;
}

.logoFooter {
     color: #ffffff;
}
