.logo {
     font-family: "Inter", sans-serif;
     font-style: normal;
     font-weight: 600;
     font-size: 36px;
     line-height: 44px;
}

.logoHeader {
     color: #17181a;
     font-family: "Inter", sans-serif;
     font-style: normal;
     font-weight: 500;
     font-size: 40px;
     line-height: 48px;
}

.logoFooter {
     color: #ffffff;
     font-family: "Inter", sans-serif;
     font-style: normal;
     font-weight: 500;
     font-size: 18px;
     line-height: 28px;
}