.container {
    display: flex;
    text-align: center;
    border-radius: 30px;
}

.containerSuccess {
    width: 560px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
}

.imgSuccess {
    cursor: pointer;
}

.textSuccess {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-top: 32px;
}

.backGround {
     width: 400px;
     min-height: 100%;
     border-top-left-radius: 30px;
     border-bottom-left-radius: 30px;
     background: linear-gradient(rgba(80, 112, 245, 0.7), rgba(156, 229, 98, 1));
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}

.blockBlue {
     margin-left: 25%;
}

.wrapper {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
     padding-top: 48px;
     padding-bottom: 48px;
}

.account {
     margin-top: 16px;
}

.imgClose {
    position: absolute;
    right: 24px;
    top: 24px;
    cursor: pointer;
}

.imgClose:hover {
    scale: 1.2;
}

.form {
     width: 440px;
     text-align: left;
     padding-top: 8px;
}

.blockInput {
     position: relative;
     margin-top: 16px;
}

.errorIcon {
     position: absolute;
     top: 0;
     right: 0;
}

.input {
     padding: 16px;
     margin-top: 8px;
     width: 100%;
     height: 64px;

     font-family: "Inter";
     font-style: normal;
     font-weight: 400;
     font-size: 18px;
     line-height: 27px;

     border-radius: 20px;
     background-color: #f4f5f6;
     border: 1px solid #f4f5f6;
     color: #595f6c;
}
.input:focus {
     outline: none;
}

.inputError {
     padding: 16px;
     margin-top: 8px;
     width: 100%;
     height: 64px;

     font-family: "Inter";
     font-style: normal;
     font-weight: 400;
     font-size: 18px;
     line-height: 27px;

     border-radius: 20px;
     background-color: #f4f5f6;
     border: 2px solid #f53527;
     color: #595f6c;
}
.inputError:focus {
     outline: none;
}

.inputError[name="comment"] {
    height: 194px;
}

.error {
     margin-top: 8px;
}

.notifications {
     margin-top: 24px;
     display: flex;
     align-items: center;
}

.button {
     width: 100%;
     padding: 10px 24px;
     margin-top: 16px;

     text-align: center;
     font-family: "Inter";
     font-style: normal;
     font-weight: 500;
     font-size: 18px;
     line-height: 28px;
     
     background-color: #4466f5;
     color: #FFFFFF;
     border: 1px solid #4466f5;
     border-radius: 16px;

     cursor: pointer;
}

.button:hover {
    opacity: 0.8;
}

.buttonDisabled {
     width: 100%;
     padding: 10px 24px;
     margin-top: 16px;
 
     text-align: center;
     font-family: "Inter";
     font-style: normal;
     font-weight: 500;
     font-size: 18px;
     line-height: 28px;
     
     background-color: #E1E2E6;
     color: #FFFFFF;
     border: 1px solid #E1E2E6;
     border-radius: 20px;
 
     cursor: pointer;
 }

.blockInfo {
    margin-top: 16px;
    text-align: center;
}

.errorsBlock {
     margin-top: 16px;
}