.wrapper {
     margin-top: 20px;
}

.list {
     list-style: none;
}

.btnClose {
     margin-top: 16px;
     padding: 10px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 316px;
     background-color: #f4f5f6;
     border: 1px solid #e1e2e6;
     border-radius: 10px;
     cursor: pointer;
}
.btnOpen {
     margin-top: 16px;
     padding: 10px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 316px;
     background-color: #f4f5f6;
     border: 1px solid #909090;
     border-radius: 10px;
     cursor: pointer;
}

.wrapperList {
     position: relative;
}

.listOpen {
     width: 245px;
     padding: 8px 16px 20px 16px;
     position: absolute;
     left: 330px;
     top: -48px;
     background-color: white;
     z-index: 999;
     border: 1px solid #e1e2e6;
     box-shadow: 3px 5px 10px #e1e2e6;
     border-radius: 10px;
}

.blockInfo {
     display: flex;
     align-items: center;
     column-gap: 12px;
     cursor: pointer;
}

.groupInfo {
     position: relative;
}

.info {
     position: absolute;
     top: -15px;
     display: flex;
     padding: 20px 16px;
     width: 480px;
     text-align: left;
     z-index: 999;
     background-color: #ffffff;
     border: 1px solid #e1e2e6;
     box-shadow: 3px 5px 10px #e1e2e6;
     border-radius: 10px;
}

.infoText {
     font-family: "Inter";
     font-style: normal;
     font-weight: 400;
     font-size: 14px;
     line-height: 20px;
}

.blockPrice {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-top: 12px;
     width: 316px;
}

.linePrice {
     width: 24px;
     border: 1px solid #909090;
}
