.authRightBlock {
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 0 auto;
}

.authContentBlock {
     display: flex;
     flex-direction: column;
     gap: 16px;
     max-width: 468px;
     width: 100%;
}

.h3,
.h2,
.h4 {
     font-family: "Inter", sans-serif;
     font-style: normal;
     font-weight: 400;
}

.h3 {
     font-size: 18px;
     line-height: 150%;
     color: #17181a;
     text-align: left;
}
.h2 {
     color: #595f6c;
     font-size: 20px;
     line-height: 28px;
}
.h4 {
     color: #595f6c;
     font-size: 16px;
     line-height: 150%;
}
.authContentBlock a {
     color: #4466f5;
}
