.elem {
    display: inline-block;
    position: relative;
    border: 2px solid #4466F5;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    color: #4466F5;
}
.homePage {
    padding: 9px 5px;
    font-size: 30px;
    line-height: 130%;
}
.authWrapper {
    padding: 3px 2px;
    font-size: 16px;
    line-height: 150%;
}

.dot {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #4466F5;
}
.left {
    top: -6px;
    left: -6px;
}
.top {
    top: -6px;
    right: -6px;
}
.right {
    right: -6px;
    bottom: -6px;
}
.bottom {
    bottom: -6px;
    left: -6px;
}