.wrapper {
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 0 24px;
}

.blockText {
    display: flex;
    flex-direction: column;
    padding-right: 100px;
    max-width: 644px;
}
