.headerWrapper {
     background: linear-gradient(282.1deg, rgba(0, 89, 233, 0.3) -24.44%, rgba(68, 102, 245, 0.1) 106.99%);
}

.header {
     max-width: 1440px;
     padding: 46px 88px;
     display: flex;
     justify-content: space-between;
     margin: auto;
}