.headerWrapper {
     border-bottom: 0.5px solid  #595F6C;
     background: #EEF4FD;
}

.headerWrapperOther {
     background-color: white;
}

.header {
     max-width: 1440px;
     padding: 40px 88px;
     display: flex;
     margin: auto;
}
