.headerWrapper {
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: space-between;
     max-height: 56px;
     height: 100%;
     margin-bottom: 39px;
}

.templatesHeaderLink {
     font-family: "Inter", sans-serif;
     font-style: normal;
     font-weight: 600;
     font-size: 30px;
     line-height: 130%;
     color: #000000;
}

.headerWrapper h4 {
     font-family: "Inter";
     font-style: normal;
     font-weight: 600;
     font-size: 30px;
     line-height: 130%;
}
