.headerWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 56px;
    height: 100%;
    margin-bottom: 39px;
}

.orderTitle {
    display: flex;
    align-items: center;
    gap: 20px;
}
