.selectTitle {
     background: #f4f5f6;
     border-radius: 20px;
     padding: 10px;
     gap: 10px;
}
.blockSelect {
     position: relative;
}
.radioButton {
     position: absolute;
     top: 52px;
}