.links {
    display: flex;
    align-items: center;
    margin-bottom: 48px;
}

.link {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #909090;
}

.filterFormWrapper {
    width: 640px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.form {
    width: 440px;
    text-align: left;
}

.inputAddFilter {
    width: 640px;
}

.filterParameters {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.filterParameters button {
    margin-top: 12px;
}

.tagTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.multipleSelection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.buttonsContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 24px;
    gap: 16px;
}

.buttonCancel {
    max-width: 167px;
    padding: 10px 24px;
    align-self: center;
}

.buttonCancel:hover p{
    color: red;
}