.wrapper {
    max-width: 1440px;
    padding: 80px 88px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.blockText {
    width: 411px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.link {
     color: #4466f5;
     display: flex;
     gap: 8px;
}

.arrow {
    transition: transform 0.3s ease-in-out;
}

.link:hover .arrow {
    transform: translateX(20px);
}