.listNav {
    display: flex;
    width: 932px;
    gap: unset;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 32px;
}
.wrap {
    flex-wrap: wrap;
    gap: 16px;
}

.nav {
    display: flex;
    width: 300px;
    padding: 30px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 15px;
    background: #fff;
    box-shadow: 0px 1.5px 30px -15px rgba(68, 102, 245, 0.5);
}

.superAdmin {
    width: 458px;
    padding: 24px 40px;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-self: stretch;
}

.header a:hover h5{
    color: var(--accent-color);
}

.subTitles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}
.subTitles a p:hover {
    color: var(--accent-color);
}
