.accountWrapper {
     display: flex;
}

.accountContentBlock {
     width: 100%;
     display: flex;
     flex-direction: column;
     padding: 40px 72px 48px 72px;
}

.templatesButtonBlock {
     margin: 0 auto;
     padding: 81px 0 79px;
}