.header {
     background: linear-gradient(282.1deg, rgba(0, 89, 233, 0.3) -24.44%, rgba(68, 102, 245, 0.1) 106.99%);
     width: 100%;
     padding: 46px 88px;
     display: flex;
     justify-content: space-between;
}

.leftBlock {
}
.rightBlock {
     display: flex;
     justify-content: right;
     width: 70%;
}
.rightBlock .buttonsAuthWrapper {
     display: flex;
     justify-content: space-between;
     width: 100%;
     max-width: 306px;
     margin-left: 60px;
}
