.label {
     font-family: "Inter", sans-serif;
     font-style: normal;
     font-weight: 400;
     font-size: 18px;
     line-height: 150%;
}

.checkbox {
     font-size: 16px;
     color: #595f6c;
}

.inputField {
     color: #17181a;
     font-size: 18px;
}
.nameInput {
    padding-bottom: 8px;
}