.buttonActive {
    width: 100%;
    padding: 16px;

    border-radius: 20px;
    border: none;
    background-color: #4466F5;

    font-size: 24px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    
    color: #FFFFFF;
    cursor: pointer;
}

.button:hover {
    opacity: 0.8;
}

/* Стили для ButtonLogin */

.active {
    width: 100%;
    margin-top: 24px;
    padding: 10px 24px; 
    border-radius: 16px;
    background: #4466F5;
    border: none;

    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; 
    color: #FFFFFF;

    cursor: pointer;
}

.disabled {
    width: 100%;
    margin-top: 24px;
    padding: 10px 24px; 
    border-radius: 16px;
    background: #E1E2E6;
    border: none;

    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; 
    color: #FFFFFF;

    cursor: pointer;
}