/*    --------------------   SUBMIT BUTTON   -------------------------        */

.submit {
     font-family: "Inter", sans-serif;
     font-style: normal;
     font-weight: 500;
     font-size: 24px;
     line-height: 28px;
     color: #ffffff;
     background: #4466f5;
     border-radius: 20px;
     border: none;
     padding: 18px;
     width: 97%;
     cursor: pointer;
}
.submitDisabled {
     background: #4466f5;
}

/*   ---------------------------- SIGN IN/ SIGN UP BUTTONS  ------------------------          */

.buttonAuth {
     font-family: "Inter", sans-serif;
     font-style: normal;
     font-weight: 500;
     font-size: 18px;
     line-height: 28px;
     border-radius: 16px;
     padding: 9px 23px;
     align-self: start;
}
.signIn {
     color: #4466f5;
     border: 1px solid #4466f5;
     background: transparent;
}
.signUp {
     background: #4466f5;
     color: #ffffff;
}

/* --------------------------------- EYE BUTTON------------------------------------------------*/

.buttonEye {
     cursor: pointer;
     position: absolute;
     top: 48px;
     right: 33px;
}

/* ---------------------------------  CREDENTIALS BUTTON------------------------------------------------*/

.credentials {
     max-width: 157px;
     margin-top: 8px;
     font-family: "Inter";
     font-style: normal;
     font-weight: 500;
     font-size: 18px;
     line-height: 28px;
     color: #4466f5;
     border: 1px solid #4466f5;
     background: transparent;
     box-sizing: border-box;
}

.googleLoginButton svg {
     width: 100px !important;
     height: 100px !important;
}
.facebookLogin {
     background: transparent;
     border: none;
     cursor: pointer;
}

/* --------------------------------- For RadioInput SUBMIT BUTTON----------------------------------*/
.btnForRadio {
     font-family: "Inter", sans-serif;
     font-style: normal;
     font-weight: 400;
     font-size: 18px;
     line-height: 150%;
     border-radius: 20px;
     border: 1px solid #4466f5;
     padding: 5px 10px;
     cursor: pointer;
}

.canselRadioInput {
     color: #595f6c;
     background: transparent;
}

.applyRadioInput {
     color: #ffffff;
     background: #4466f5;
}
.vkLogin {
     border: none;
     background: transparent;
     cursor: pointer;
}

.templatesFooterButton {
     cursor: pointer;
     color: #595f6c;
     border: none;
     font-family: "Inter", sans-serif;
     font-style: normal;
     font-weight: 500;
     font-size: 20px;
     padding: 16px 23px;
     background: #e2ecff;
     border-radius: 20px;
     width: 100%;
}

/*---------------------------------------Button Exit---------------------------------*/
.buttonExit {
     display: flex;
     width: 292px;
     padding: 14px 0 14px 30px;
     align-items: center;
     gap: 12px;
     font-family: Inter, sans-serif;
     font-size: 20px;
     font-style: normal;
     font-weight: 500;
     line-height: 28px;
     background: transparent;
     border: 1px solid #E2ECFF;
     cursor: pointer;
}
.buttonExit:hover {
     border-top: 1px solid white;
     border-bottom: 1px solid white;
}