.container {
    position: relative;
}

.inputGroup,
.inputGroupNew {
    display: block;
    width: 100%;
    padding: 8px 0px 6px 8px;
    border: none;
    border-bottom: 1px solid var(--accent-color);
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    caret-color: var(--accent-color)
}
.inputGroupHide {
    display: none;
}
.inputGroupEdit {
    position: absolute;
    display: block;
    width: 100%;
    padding: 8px;
    border: none;
    border-bottom: 2px solid var(--accent-color);
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    caret-color: var(--accent-color)
}

.inputGroup::placeholder { /* Most modern browsers support this now. */
   color:    var(--sub-color);
}

.inputGroup:focus {
    outline: none;
}
