.wrapper {
    width: 100%;
    background-color: #EEF4FD;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 80px 88px 122px;
}

.blockLeft {
    display: flex;
    flex-direction: column;
    margin-top: 41px;
    max-width: 631px;
    gap: 63px;
}

.textInfo {
    display: flex;
    flex-direction: column;
    gap: 31px;
}

.blockRight {
    position: relative;
}
.button {
    width: 230px;
}

.message {
    position: absolute;
    width: 229px;
    padding: 16px;
    border-radius: 16px 16px 16px 0;
    background: rgba(255, 150, 232, 0.60);
    backdrop-filter: blur(7px);
}

.one {   
    top: 79px;
    left: -14px;
}

.two {
    top: 167px;
    left: -14px;
    width: 187px;
}

.three {
    right: 22px;
    bottom: -43px;
    width: 280px;
    border-radius: 16px 16px 0 16px;
    background: rgba(174, 247, 252, 0.60);
}