.wrapper {
    width: 100%;
    background-color: #EEF4FD;
}

.container {
    display: flex;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 80px 88px;
}

.blockLeft {
    width: 100%;
    padding-right: 107px;
}

.textInfo {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.button {
    margin-top: 64px;
    width: 284px;
}

.blockRight {
    position: relative;
}

.message {
    position: absolute;
    width: 229px;
    padding: 16px;
    border-radius: 16px 16px 16px 0;
    background: rgba(255, 150, 232, 0.60);
    backdrop-filter: blur(7px);
}

.one {   
    top: 80px;
    left: -16px;
}

.two {
    top: 168px;
    left: -16px;
}

.three {
    right: 24px;
    bottom: -48px;
    width: 280px;
    border-radius: 16px 16px 0 16px;
    background: rgba(174, 247, 252, 0.60);
}