.container {
    margin-top: 24px;
}

.groupFilter {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 16px;
}

.listTags {
    display: flex;
    flex-wrap: wrap;
    margin-left: 33px;
    list-style: none;
    column-gap: 11px;
    row-gap: 11px;
}

.tag {
    width: 403px;
}